.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* Adjust the size as needed */
    grid-template-rows: repeat(3, 100px); /* Adjust the size as needed */
    gap: 5px; /* Adjust the gap between buttons */
}

.board-row {
    display: flex;
}

.square {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.square:hover {
    background-color: #e0e0e0;
}


.snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}
.snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}